:root {
    --primary-dark: #025464;
    --secondary-dark: #E57C23;
    --primary-light: #F8F1F1;
    --secondary-light: #E8AA42;
    --h0: 72px;
    --h1: 60px;
    --h2: 48px;
    --h3: 36px;
    --h4: 30px;
    --h5: 24px;
    --h6: 18px;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    font-family: 'Prata', serif;
}

/* ***************** REMOVE BOX SHADOW ON SMALL SCREENS ***************** */

::-webkit-scrollbar {
    width: 0;
    background: transparent;
}

.display-none {
    display: none !important;
}


.home-inner-div {
    position: fixed;
    width: 70vw;
    height: 85vh;
    background-color: var(--primary-light);
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1000;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
    scroll-behavior: smooth;
    overflow-y: scroll;
}



/* Navbar */

.navbar-outer {
    position: fixed;
    width: 70%;
    display: flex;
    flex-direction: column;
    z-index: 1000;
}

.navbar {
    /* position: fixed; */
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.75rem 1.5rem;
    background-color: var(--primary-light);
    box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
}

.nav-left {
    width: auto;
}

.nav-logo {
    font-size: var(--h5);
}

.nav-logo:hover {
    cursor: pointer;
}

.nav-right {
    width: auto;
    /* font-size: var(--h6); */
    font-size: 16px;
    letter-spacing: 0.1rem;
    display: flex;
}

.nav-page-links {
    margin-right: 2rem;
}

.overline {
    width: 100%;
    height: 3px;
    background-color: transparent;
}

@keyframes nav-page-links {
    from {
        width: 0%;
    }

    to {
        width: 100%;
    }
}

@keyframes nav-page-links-rm {
    from {
        width: 100%;
    }

    to {
        width: 0%;
    }
}

.underline {
    width: 0%;
    height: 3px;
    border-radius: 10px;
    background-color: var(--primary-dark);
    animation-name: nav-page-links-rm;
    animation-duration: 200ms;
}

.nav-page-links:hover {
    cursor: pointer;

    .underline {
        animation-name: nav-page-links;
        animation-duration: 300ms;
        width: 100%;
    }
}

.options-list-icon {
    width: fit-content;
    margin-left: 1.5rem;
    z-index: 1000;
    padding: 1rem 0.5rem;
    border-radius: 5px;
}

.options-list-icon i {
    font-size: var(--h5);
    transition-duration: 200ms;
}

.options-list-icon i:hover {
    cursor: pointer;
    color: var(--primary-dark);
}


/* Home Tab */
.home-tab {
    /* position: fixed; */
    width: 100%;
    /* height: 100%; */
    background-color: var(--primary-light);
    display: flex;
    flex-direction: column;
    align-items: center;
    /* z-index: 1000; */
    /* box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px; */
    /* scroll-behavior: smooth; */
    /* overflow-y: scroll; */
}




/* Hero Section */
.hero-section {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 0;
    /* overflow: hidden; */
}

.hero-left {
    width: 50%;
    letter-spacing: 0.1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 1.5rem;
    padding-right: 0.5rem;
}

.hero-left .title {
    font-size: var(--h2);
}

.hero-left .title span {
    display: inline-block;
    transition-duration: 300ms;
    /* border-bottom: 2px solid transparent; */

}

.hero-left .title span:hover {
    color: var(--primary-dark);
    /* border-bottom: 2px solid var(--primary-dark); */
}

.hero-left .subtitle {
    margin-top: 5rem;
    font-size: var(--h5);
}

.hero-right {
    width: 50%;
    height: 100%;
    overflow: hidden;
}

.hero-right img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}



/* Footer section */
.footer-section {
    width: 100%;
    padding: 2rem 1.5rem;
    background-color: #1a1a1a;
    font-size: 12px;
    letter-spacing: 0.1rem;
    color: var(--primary-light);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.footer-section p {
    display: inline-block;
}

.footer-section p {
    opacity: 0.7;
}

.footer-section p:hover {
    opacity: 1;
    transition-duration: 200ms;
}

.footer-right {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-right .footer-icon {
    font-size: var(--h6);
    margin-left: 2rem;
    opacity: 0.7;
    transition-duration: 200ms;
}

.footer-icon:hover {
    opacity: 1;
    cursor: pointer;
}




/* section-space */
.section-space {
    width: 100%;
    /* min-height: 25%; */
}




/* ques1 */
.ques1 {
    /* background-color: var(--primary-dark);
    color: var(--primary-light); */
    letter-spacing: 0.1rem;
}

.ques1-left {
    width: 50%;
    height: 100%;
    overflow: hidden;
}

.ques1-left img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.ques1-right {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 1.5rem;
    opacity: 0.9;
}

.ques1-right .title {
    font-size: var(--h2);
}

.ques1-right .subtitle {
    margin-top: 5rem;
    font-size: var(--h5);
}




/* ques2 */
.ques2 {
    flex-direction: row-reverse;
    letter-spacing: 0.1rem;
}

.ques2-left {
    width: 50%;
    height: 100%;
    overflow: hidden;
}

.ques2-left img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.ques2-right {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 1.5rem;
}

.ques2-right .title {
    font-size: var(--h2);
}

.ques2-right .subtitle {
    margin-top: 5rem;
    font-size: var(--h5);
}





/* About tab */
/* About section */
.about-section {
    width: 100%;
    height: 100%;
    display: flex;
}

.about-left {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 1.5rem;
    letter-spacing: 0.1rem;
}

.about-left .title {
    font-size: var(--h2);
}

.about-left .subtitle {
    font-size: var(--h5);
    margin-top: 5rem;
}

.about-left .subtitle span {
    display: inline-block;
    transition-duration: 300ms;

}

.about-left .subtitle span:hover {
    color: var(--primary-dark);
}

.about-right {
    width: 50%;
    height: 100%;
    overflow: hidden;
}

.about-right img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}




/* me section */
.me-left {
    width: 50%;
    height: 100%;
    overflow: hidden;
}

.me-left img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.me-right {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 1.5rem;
}

.me-right .title {
    font-size: var(--h2);
}

.me-right .subtitle {
    font-size: var(--h5);
    margin-top: 5rem;
}

.me-right .subtitle span {
    display: inline-block;
    transition-duration: 300ms;
}

.me-right .subtitle span:hover {
    color: var(--primary-dark);
}



/* codsoft section */
.codsoft {
    display: flex;
    flex-direction: row-reverse;
}




/* contact tab */
.contact-section {
    width: 100%;
    height: 100%;
    display: flex;
    /* flex-direction: row-reverse; */
}

.contact-left {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 0.5rem;
    padding-left: 3rem;
}

.contact-left .title {
    font-size: var(--h2);
    margin-bottom: 5rem;
}

.contact-form-icons {
    display: flex;
}

.contact-form {
    width: 80%;
}

.contact-input {
    width: 100%;
}

.contact-input input,
textarea {
    width: 100%;
    padding: 1rem;
    font-family: 'Prata', serif;
    margin-bottom: 3rem;
    letter-spacing: 0.1rem;
    font-size: var(--h6);
    outline: none;
    border: 1px solid black;
}

.contact-input input:focus,
textarea:focus {
    border: 1px solid var(--primary-dark);
}

.contact-btn {
    width: 100%;
}

.contact-btn .btn {
    width: 40%;
    padding: 1.2rem;
    font-size: var(--h5);
    background-color: var(--primary-dark);
    color: var(--primary-light);
    text-align: center;
}

.btn:hover {
    cursor: pointer;
}

.contact-icons {
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-icons .contact-icon {
    font-size: var(--h5);
    margin: 0;
    margin-bottom: 1.5rem;
    transition-duration: 300ms;
}

.contact-icon:hover {
    cursor: pointer;
    color: var(--primary-dark);
}

.contact-right {
    width: 50%;
    height: 100%;
    overflow: hidden;
}

.contact-right img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}




/* Account tab */
.account-section {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    letter-spacing: 0.1rem;
    /* margin-top: 10rem; */
    overflow: hidden;
}

.account-left {
    width: 50%;
    height: 100%;
    translate: -120% 0;
    transition-duration: 400ms;
    position: relative;
    top: 0;
    left: 0;
    z-index: 100;
    background-color: var(--primary-light);
    box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 48px;
}

.account-left .options-list {
    width: 100%;
    height: 100%;
}

.account-left .options-list .option {
    font-size: var(--h5);
    padding: 0.5rem 1.5rem;
}

.account-left .options-list .option:hover {
    background-color: var(--primary-dark);
    color: var(--primary-light);
}

/* user details */

.account-right {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition-duration: 300ms;
    overflow: hidden;
    z-index: 10;
}

.account-right-container {
    width: 80%;
    /* height: 100%; */
    padding: 0 1.5rem;
    margin: auto;
}

.account-right-container-row {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: auto;
    margin-bottom: 2rem;
}

.account-right-container-field {
    width: 47%;
    font-size: var(--h6);
    display: flex;
    flex-direction: column;
}

.account-right-container-field label {
    margin-bottom: 0.5rem;
}

.account-right-container-field input {
    width: 100%;
    font-family: "Prata", "serif";
    font-size: var(--h5);
    padding: 0.5rem 1rem;
    outline: none;
    border: 1px solid black;
    border-radius: 1px;
    letter-spacing: 0.1rem;
    opacity: 0.9;
    margin-bottom: 1rem;
}

.account-right-container-field input:focus {
    border: 1px solid var(--primary-dark);
}

.account-btn-grp {
    display: flex;
    justify-content: flex-end;
    margin-top: 5rem;
}

.account-btn-grp .btn-field {
    width: 47%;
    font-size: var(--h6);
    display: flex;
    justify-content: space-between;
}

.account-btn-grp .edit-btn,
.save-btn {
    width: 45%;
    background-color: var(--primary-dark);
    color: var(--primary-light);
    padding: 1rem;
    text-align: center;
    letter-spacing: 0.1rem;
    border-radius: 1px;
}

.account-btn-grp .edit-btn:hover,
.save-btn:hover {
    cursor: pointer;
}

.account-btn-grp .edit-btn {
    background-color: var(--primary-light);
    color: var(--primary-dark);
    border: 1px solid var(--primary-dark);
}



/* profile image */

.profile-image-container {
    height: 100%;
    display: flex;
    justify-content: space-between;
    /* flex-direction: row-reverse; */
    padding-left: 0;
}

.account-right-container .profile-image-container-left {
    width: 47%;
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

}

.profile-image-container-left img {
    width: 75%;
    height: 75%;
    object-fit: cover;
    border-radius: 1px;
}

.profile-image-container-right {
    width: 47%;
    height: 100%;
}

.profile-image-container-right .imageUpload {
    width: 100%;
    height: 100%;
}

.profile-image-container-right .choose-image-div {
    width: 100%;
    font-size: var(--h6);
    opacity: 0.7;
    text-transform: capitalize;
    border: 1px dashed black;
    border-radius: 1px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.profile-image-container-right .choose-image-div:hover {
    cursor: pointer;
}

.profile-image-container-right .inp {
    height: 1px;
    visibility: hidden;
}

.profile-image-container-right .selectImage {
    height: 1px;
    visibility: hidden;

}

.profile-image-container-right .filedata {
    height: 1px;
    visibility: hidden;
}

.profile-image-container-right .upload-btn-grp {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.profile-image-container-right .upload,
.cancel {
    width: 45%;
    background-color: var(--primary-dark);
    color: var(--primary-light);
    padding: 1rem;
    text-align: center;
    font-size: var(--h6);
    letter-spacing: 0.1rem;
    border-radius: 1px;
    margin-top: 3rem;
}

.profile-image-container-right .cancel {
    background-color: var(--primary-light);
    color: var(--primary-dark);
    border: 1px solid var(--primary-dark);
    visibility: hidden;
}

.profile-image-container-right .upload:hover {
    cursor: pointer;
}

.credentials-btn-row{
    width: 100%;
    margin-top: 5rem;
    display: flex;
    justify-content: flex-end;
}

.account-right-container-row .credentials-btn-grp{
    width: 47%;
    display: flex;
    justify-content: space-between;    
}

/* Credentials */

.credentials-btn-grp .cancel, .save{
    width: 47%;
    background-color: var(--primary-dark);
    color: var(--primary-light);
    font-size: var(--h6);
    margin-top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1px;
    cursor: pointer;
}

.credentials-btn-grp .cancel{
    background-color: var(--primary-light);
    color: var(--primary-dark);
    border: 1px solid var(--primary-dark);
}


/* Logout */

.logout-ques p{
    margin: auto;
    font-size: var(--h5);
}

.logout-btn-grp{
    width: 50%;
    display: flex;
    justify-content: space-between;
    margin: auto;
}

.logout-btn-grp .yes, .no{
    width: 47%;
    background-color: var(--primary-dark);
    color: var(--primary-light);
    font-size: var(--h6);
    margin-top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1px;
    cursor: pointer;
    padding: 1rem;
    letter-spacing: 0.1rem;
}

.logout-btn-grp .yes{
    background-color: var(--primary-light);
    color: var(--primary-dark);
    border: 1px solid var(--primary-dark);
}
